@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.card {
  background-color: white;
  height: 380px;
  width: 260px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
.card-top,
.card-bottom {
  font-size: 95px;
  height: fit-content;
  margin-top: -22px;
  margin-left: 10px;
}
.card-bottom {
  transform: rotate(180deg);
  padding-left: 10px;
}
.number {
  font-size: 100px;
  padding-bottom: 10px;
}
.red {
  color: red;
}
